<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="plantillas/base :: head"></head>

<body class="text-center">
<header th:replace="plantillas/base :: header"></header>

<!--<a href="/requirement">Create another publication</a>-->

<main class="main">
    <div class="container">

        <div class="col-md-7 col-lg-8">
            <br>
            <br>
            <h4 class="mb-3" th:text="'My requirements!! ('+  ${listRequirement.size()} +')'" >My requirements!!</h4>
            <span th:text="'My id: ' + ${listRequirement[0].getIdRequestPerson()}"></span>
            <hr class="my-4">
        </div>

        <div class="col-md-7 col-lg-8" th:each="requirement:${listRequirement}" style="margin-bottom: 50px;">
            <div class="card">

                <th:block th:switch="${requirement.getRequirementStatusName()}">
                    <div th:case="'Open'">
                        <div class="ribbon-corner status-open">Open</div>
                    </div>
                    <div th:case="'Close'">
                        <div class="ribbon-corner status-close">Close</div>
                    </div>
                    <div th:case="'Canceled'">
                        <div class="ribbon-corner status-canceled">Canceled</div>
                    </div>
                </th:block>

                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-briefcase"></i>
                        <a th:text="${requirement.getTypeJobName()}"></a>
                    </h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <div class="col-sm-12">
                            <dd class="col-sm-12" style="white-space: pre-line; overflow-y: auto; max-height: 10em; background-color: rgba(234, 236, 236, 0.41);">
                                <p th:text="${requirement.getDescription()}"></p>
                            </dd>

                            <hr class="my-4">

                            <div class="card-body" th:if="${false}">

                                <div class="row" style="text-align: left;">
                                    <dt class="col">Fecha a realizar:</dt>
                                    <dd class="col" th:text="${requirement.getDate()}"></dd>
                                    <dt class="col">Zone:</dt>
                                    <dd class="col" th:text="${requirement.getZone()}"></dd>
                                </div>

                                <div class="row">
                                    <blockquote style="background-color: rgba(234, 236, 236, 0.41);"><p>Una vez aceptada la
                                        oferta se mostraran datos de contacto y ubicacion especifica del trabajo.</p>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="card-body" th:if="${true}">

                                <div class="row" style="text-align: left;">
                                    <dt class="col">Fecha a realizar:</dt>
                                    <dd class="col" th:text="${requirement.getDate()}"></dd>
                                    <dt class="col">Zone:</dt>
                                    <dd class="col" th:text="${requirement.getZone()}"></dd>
                                </div>

                                <div class="row" style="text-align: left;">
                                    <dt class="col">Street:</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getStreet()}"></dd>
                                    <dt class="col">Number:</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getNumber()}"></dd>
                                </div>

                                <div class="row" style="text-align: left;">
                                    <dt class="col">Zip Code:</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getZipCode()}">zipCode</dd>
                                    <dt class="col">City</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getCity()}"></dd>
                                </div>

                                <div class="row" style="text-align: left;">
                                    <dt class="col">State:</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getProvState()}"></dd>
                                    <dt class="col">Country</dt>
                                    <dd class="col" th:text="${requirement.getAddress().getCountry()}"></dd>
                                </div>

                            </div>

                        </div>

                    </dl>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="plantillas/base :: footer"></footer>
</body>


</html>