<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="plantillas/base :: head"></head>

<body class="text-center">
<header th:replace="plantillas/base :: header"></header>

<main class="main">

    <div class="container">
    <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <br>
        <br>
        <a href="/users/register" class="w-100 btn btn-lg btn-primary">Register</a>
        <p class="mt-5 mb-3 text-muted"> Welcome to <span th:text="${appName}">Our App</span></p>
    </form>
    </div>
</main>

<footer th:replace="plantillas/base :: footer"></footer>
</body>


</html>