<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="plantillas/base :: head"></head>

<body class="text-center">
<header th:replace="plantillas/base :: header"></header>


<!--<p th:text="'Id: ' + ${requirement.get_id()}" />-->
<!--<p th:text="'Create at: ' + ${requirement.getDate()}" />-->


<!--<a href="/requirement">Create another publication</a>-->

<main class="main">
    <div class="container">

        <div class="col-md-7 col-lg-8">
            <br>
            <br>
            <h4 class="mb-3">User Created successfully!!</h4>
            <hr class="my-4">
        </div>

        <div class="col-md-7 col-lg-8">
            <div class="card">
                <div class="card-header"><h5 class="card-title"><i class="fas fa-user"></i>&nbsp;&nbsp;<a>User Personal Data</a></h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <div class="col-sm-12">
                            <div class="card-body">
                                <div class="row" style="text-align: left;">
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Names:</dt>
                                    <dd class="col"><p th:text="${user.getName()}" /></dd>
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Last Name:</dt>
                                    <dd class="col"><p th:text="${user.getName()}" /></dd>
                                </div>
                                <br>
                                <div class="row" style="text-align: left;">
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Telephone Number:</dt>
                                    <dd class="col"><p th:text="${user.getTelephoneNumber()}" /></dd>
                                </div>
                                <br>
                                <div class="row" style="text-align: left;">
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Email:</dt>
                                    <dd class="col"><p th:text="${user.getEmail()}" /></dd>
                                </div>
                                <br>
                                <div class="row" style="text-align: left;">
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Birth Date:</dt>
                                    <dd class="col"><p th:text="${user.getBirthDate()}" /></dd>
                                    <dt class="col"><i class="fas fa-check-square" style="color: darkgreen;"></i> Gender:</dt>
                                    <dd class="col"><p th:text="${user.getGender()}" /></dd>
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="plantillas/base :: footer"></footer>
</body>


</html>