<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="plantillas/base :: head"></head>

<body class="text-center">
<header th:replace="plantillas/base :: header"></header>


<!--<p th:text="'Id: ' + ${requirement.get_id()}" />-->
<!--<p th:text="'Create at: ' + ${requirement.getDate()}" />-->


<!--<a href="/requirement">Create another publication</a>-->

<main class="main">
  <div class="container">

    <div class="col-md-7 col-lg-8">
      <br>
      <br>
      <h4 class="mb-3">Created successfully!!</h4>
      <hr class="my-4">
    </div>

  </div>
</main>
<footer th:replace="plantillas/base :: footer"></footer>
</body>


</html>