<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="plantillas/base :: head"></head>

<body class="text-center">
<header th:replace="plantillas/base :: header"></header>


<!--<p th:text="'Id: ' + ${requirement.get_id()}" />-->
<!--<p th:text="'Create at: ' + ${requirement.getDate()}" />-->


<!--<a href="/requirement">Create another publication</a>-->

<main class="main">
    <div class="container">

        <div class="col-md-7 col-lg-8">
            <br>
            <br>
            <h4 class="mb-3">Created successfully!!</h4>
            <hr class="my-4">
        </div>

        <div class="card">
            <div class="card-header"><h3 class="card-title"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;<a></a></h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <div class="col-sm-8">
                        <dt class="col-sm-4">Descripción</dt>
                        <dd class="col-sm-12" style="white-space: pre-line; overflow-y: auto; max-height: 12em;"><p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum.</p></dd>
                        <dt class="col-sm-4">Fecha a realizar</dt>
                        <dd class="col-sm-8"> </dd>
                        <div class="card-body">
                            <blockquote style="background-color: rgba(234, 236, 236, 0.41);"><p>Una vez aceptada la
                                oferta se mostraran datos de contacto y ubicacion especifica del trabajo.</p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-sm-4 f" style="border-left: 1px solid rgb(206, 212, 218);">
                        <dl class="row">
                            <dt class="col-sm-4">Localidad:</dt>
                            <dd class="col-sm-8">Lorem ipsum dolor</dd>
                        </dl>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</main>
<footer th:replace="plantillas/base :: footer"></footer>
</body>


</html>