
.ribbon-corner {
    --tor-ribbon-size: 3em;
    --tor-ribbon-rotate: 45deg;
    --tor-ribbon-translateX: 50%;
    --tor-ribbon-translateY: calc((var(--tor-ribbon-size) + 1em) - 100%);
    --tor-ribbon-origin: 100% 0%;
    --tor-ribbon-polygon: polygon(0% 100%, 50% calc(100% - (var(--tor-ribbon-size) + 1em)), 100% 100%);
}

.ribbon-corner {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-clip-path: var(--tor-ribbon-polygon);
    clip-path: var(--tor-ribbon-polygon);
    transform: rotate(var(--tor-ribbon-rotate)) translateY(var(--tor-ribbon-translateY)) translateX(var(--tor-ribbon-translateX)) !important;
    transform-origin: var(--tor-ribbon-origin) !important;
    width: calc( (var(--tor-ribbon-size) + 1em) * 2);
    height: 2em;
}

.ribbon-corner, .ribbon-bookmark-v, .ribbon-bookmark-h {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.status-open{
    background-color: #28a745;
    color: #fff;
}

.status-close{
    background-color: #007bff;
    color: #fff;
}

.status-canceled{
    background-color: #6c757d;
    color: #fff;
}